html {
    overflow-x: hidden;
}

.container {
    max-width: 100%;
    padding: 0px !important;
}

.nav-bar {
    padding: 10px 0px 0px 0px;
    background-color: white;
    height: 115px;
}

body {
    background-color: black;
    height: 100vh;
}

.body {
    background-image: url("../img/movie-bkg-img.png");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    margin-top: 5px;
    font-size: 1.8em;
    font-family: "avenir";
}

h2 {
    padding: 5px;
    font-family: "avenir";
    font-size: 1em;
}

.carousel-outer {
    margin: 30px 40px 30px 40px;
    padding: 15px 65px 15px 65px;
    background-color: gray;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #752222;
}

.section-title {
    font-size: 1.8em;
    font-family: "avenir";
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px;
    background-color: #752222;
}

.second-main-row {
    margin-left: 0px;
    margin-right: 0px;
    /* margin-bottom: 25px; */
}

.bookings {
    margin: 0px 40px 0px 40px;
    padding: 15px 25px 15px 15px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: -12px -11px 4px 1px rgba(117, 34, 34, 1);
}

.media-body {
    font-family: "avenir";
    font-size: 0.8em;
    margin: auto;
}

.dropdown,
.bookingDate {
    font-family: "avenir";
    margin-left: 40px;
}

.booking-btns {
    margin-top: 20px;
    font-family: "avenir";
}

a:link {
    color: black;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(107, 102, 102);
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

.all-movies:hover .movie-text {
    opacity: 1;
}

.movie-text {
    opacity: 0;
}

.about-us:hover .about-text {
    opacity: 1;
}

.about-text {
    opacity: 0;
}

.promotions:hover .promotions-text {
    opacity: 1;
}

.promotions-text {
    opacity: 0;
}

.locations:hover .locations-text {
    opacity: 1;
}

.locations-text {
    opacity: 0;
}

.contact-us:hover .contact-text {
    opacity: 1;
}

.contact-text {
    opacity: 0;
}